MONGO_URI=mongodb://localhost:27017/urbansevak
JWT_SECRET=mysecretkey123

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS= # your email pass

# Cloudinary (get these from https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME= #
CLOUDINARY_API_KEY= 

CLOUDINARY_API_SECRET= 